#asset-source {
  display: none;
}

#app-container {
  display: flex;
  justify-content: center;
}

#tree-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

#upper-tree-space,
#lower-tree-space {
  display: flex;
  align-items: center;
}

#zoom-debug {
  position: fixed;
}

#tree-canvas-container {
  position: relative;

  pointer-events: none;
  * {
    pointer-events: initial;
  }
}

.skill-canvas {
  position: absolute;
}

.tree-row {
  background-color: #333333;
  border: 2px solid #dddddd;
  color: #f7c8d8;
}

.tree-row:first-of-type {
  border-top-width: 4px;
}

.tree-row:last-of-type {
  border-bottom-width: 4px;
}

.canvas-info-container {
  p {
    display: inline;
  }

  > *:nth-child(n + 2):not(button) {
    margin-left: 2rem;
  }

  margin-right: 2rem;
}

#export-bar {
  max-width: 100%;
  overflow: hidden;
}

.info-popout {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 40%;
  max-width: 40%;
  height: 30%;
  max-height: 30%;
  margin-left: -20%;
  margin-top: -15%;
}

#export-url-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #333333;
  border: 2px solid #dddddd;
  color: #f7c8d8;
  word-wrap: break-word;

  > button {
    height: fit-content;
    margin-left: auto;
    margin-top: auto;
  }
}

#readme-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #333333;
  border: 2px solid #dddddd;

  .readme-head, .readme-body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .readme-link {
    color: #ffffff;
  }
}

#summon-readme {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}

#close-readme {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
}
