#asset-source {
  display: none;
}

#tree-container {
  display: flex;
  justify-content: center;
}

#zoom-debug {
  position: fixed;
}

#tree-canvas-container {
  position: relative;

  pointer-events: none;
  * {
    pointer-events: initial;
  }
}

.skill-canvas {
  position: absolute;
}
